<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106861471-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-106861471-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#3c78d8">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#3c78d8">

    <!-- Primary Meta Tags -->
    <title>Hi, I'm Meha Masum. I'm a software engineer based in Dhaka.</title>
    <meta name="title" content="Hi, I'm Meha Masum. I'm a software engineer based in Dhaka.">
    <meta name="description" content="Check out Mehedi Hasan Masum's projects, work experience and more.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= homepage %>">
    <meta property="og:title" content="Hi, I'm Meha Masum. I'm a software engineer based in Dhaka.">
    <meta property="og:description" content="Check out Mehedi Hasan Masum's projects, work experience and more.">
    <meta property="og:image" content="<%= homepage %>meta-img.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= homepage %>">
    <meta property="twitter:title" content="Hi, I'm Meha Masum. I'm a software engineer based in Dhaka.">
    <meta property="twitter:description" content="Check out Mehedi Hasan Masum's projects, work experience and more.">
    <meta property="twitter:image" content="<%= homepage %>meta-img.jpg">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/765847b5fd.js" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="my-3">
            <nav class="nav justify-content-end">
                <a class="nav-link" href="/blog">
                    <i aria-hidden="true" class="fa fa-rss"></i> Blog
                </a>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3 offset-lg-1 mb-5">
                <img src="./avatar.jpg" alt="Profile Picture" class="avatar">
                <h1 class="mt-4">Mehedi Hasan Masum</h1>
                <div class="my-2">Software Engineer at <br><a href="http://newscred.com">Newscred</a></div>
                <div class="my-4">
                    <div>
                        <i aria-hidden="true" class="fa fa-map-marker"></i>
                        <span>Dhaka, Bangladesh</span>
                    </div>
                    <div>
                        <i aria-hidden="true" class="fa fa-phone fa-rotate-90"></i>
                        <span class="cryptedtel"></span>
                    </div>
                    <div>
                        <i aria-hidden="true" class="fa fa-envelope"></i>
                        <span class="cryptedmail"></span>
                    </div>
                </div>
                <ul class="my-2 fa-2x social-info">
                    <li>
                        <a href="https://stackoverflow.com/users/4135289/mehamasum" title="StackOverflow profile">
                            <i aria-hidden="true" class="fa fa-stack-overflow"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/mehamasum" title="Github profile">
                            <i aria-hidden="true" class="fa fa-github"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://linkedin.com/in/mehamasum" title="LinkedIn profile">
                            <i aria-hidden="true" class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-lg-7 mb-5">
                <div class="quote">
                    <div class="quote-container">
                        <blockquote>
                            <p>
                                Programmer and lifelong learner.<br /> Led my team to 5 international hackathon titles back in college.
                                <br /> Love AI and open source. Believer of ‘Roll up your sleeves and get the job done’.<br />
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="bio-section">
                    <div>
                        <div class="preference-label mb-1 mt-2">
                            <span>Things I like</span>
                        </div>
                        <div>
                            <span class="tag interested-tag">travel</span>
                            <span class="tag interested-tag">running</span>
                            <span class="tag interested-tag">fish 'n' chips</span>
                            <span class="tag interested-tag">pop music</span>
                            <span class="tag interested-tag">crime dramas</span>
                            <span class="tag interested-tag">fifa</span>
                        </div>
                    </div>
                </div>
                <div class="bio-section">
                    <div>
                        <div class="preference-label mb-1 mt-2">
                            <span>I want to work with</span>
                        </div>
                        <div>
                            <span class="tag">python</span>
                            <span class="tag">java</span>
                            <span class="tag">node.js</span>
                            <span class="tag">rest</span>
                            <span class="tag">graphql</span>
                            <span class="tag">react</span>
                        </div>
                    </div>
                    <div>
                        <div class="preference-label mb-1 mt-2">
                            <span>I prefer not to work with</span>
                        </div>
                        <div>
                            <span class="tag disliked-tag">android</span>
                            <span class="tag disliked-tag">jquery</span>
                        </div>
                    </div>
                </div>

                <hr />

                <section class="resume-section my-4 mt-5">
                    <h4>Projects</h4>
                    <div class="row my-3" id="projects">
                        <%= projects %>
                    </div>
                </section>

                <section class="resume-section my-4">
                    <h4>Work</h4>
                    <div class="row my-3" id="work">
                        <div class="col-12">
                            <article>
                                <header class="my-2">
                                    <h5>
                                        Software Engineer at <a href="https://newscred.com/" target="_blank" rel="noopener noreferrer">Newscred Inc.</a>
                                    </h5>
                                    <div class="my-1">
                                        <address>Dhaka, Bangladesh</address><time>Since August 2019</time>
                                    </div>
                                </header>
                                <p class="my-2">
                                    Working as a full-stack engineer in developing the <a href="https://get.newscred.com/gartner-mq-cmp-2019/">world's leading content
                                        marketing platform</a>
                                    <details>
                                        <summary class="mb-3">Learn More</summary>
                                        <ul>
                                          <li>
                                            Led the research, development and deployment of format-agnostic file annotation service that allows clients to markup uploaded files and allows real-time collaboration. Deployed it in AWS ECS with autoscaling
                                          </li>
                                          <li>
                                            Maintained and developed new features for NewsCred’s publishing integrations including OAuth integrations (i.e., Facebook, LinkedIn, YouTube, Instagram), RPC and Plugin-based integrations (i.e., WordPress, AEM, Sitecore), WOPI-based integrations (i.e., Microsoft Office for web) etc.
                                          </li>
                                          <li>
                                            Rebuilt Newscred’s content publishing and social scheduling experience (AngularJS to ReactJS). Identified and resolved performance issues, added monitoring and proactive publishing failure prevention steps. Reduced client-reported bugs by more than 15% in two quarters
                                          </li>
                                          <li>
                                            Built a trial version of the existing software, allowing public signup and metered resource utilizations. Designed the architecture and implemented social login capabilities into existing SSO architecture
                                          </li>
                                        </ul>
                                    </details>
                                </p>
                                <footer class="my-3">
                                    <span class="tag">node.js</span>
                                    <span class="tag">react</span>
                                    <span class="tag">expressjs</span>
                                    <span class="tag">mongodb</span>
                                    <span class="tag">redis</span>
                                    <span class="tag">elasticsearch</span>
                                    <span class="tag">oauth2</span>
                                    <span class="tag">facebook-graph-api</span>
                                    <span class="tag">twitter-api</span>
                                    <span class="tag">linkedin-api</span>
                                    <span class="tag">youtube-api</span>
                                    <span class="tag">xml-rpc</span>
                                    <span class="tag">docker</span>
                                    <span class="tag">AWS</span>
                                    <span class="tag">jenkins</span>
                                    <span class="tag">nagios</span>
                                </footer>
                            </article>
                        </div>

                        <div class="col-12">
                            <article>
                                <header class="my-2">
                                    <h5>
                                        Software Engineer at <a href="http://codemarshal.com/" target="_blank" rel="noopener noreferrer">CodeMarshal</a>
                                    </h5>
                                    <div class="my-1">
                                        <address>Dhaka, Bangladesh</address><time>Feb 2018 to July 2019</time>
                                    </div>
                                </header>
                                <p class="my-2">
                                    Worked as a full-stack engineer on different CodeMarshal projects
                                    <details>
                                        <summary class="mb-3">Learn More</summary>
                                        <ul>
                                          <li>
                                            Developed a gaming environment with ReactJS, Redux and PixiJS, implemented real-time messaging backend from scratch with Django Channels
                                          </li>
                                          <li>
                                            Led the CORE team in building a REST backend module using DRF in form of reusable Django apps, to share across different products. Built CI pipeline to run tests and publish as a private Python module
                                          </li>
                                          <li>
                                            Maintained a shared ReactJS component library, showcased by a style guide app. Added tests & documentation, built CI pipeline to run tests, lint, build with Webpack and publish as private Node package
                                          </li>
                                        </ul>
                                    </details>
                                </p>
                                <footer class="my-3">
                                    <div>
                                        <span class="tag">django</span>
                                        <span class="tag">django-rest-framework</span>
                                        <span class="tag">django-channels</span>
                                        <span class="tag">react</span>
                                        <span class="tag">redux</span>
                                        <span class="tag">pixi</span>
                                        <span class="tag">postgresql</span>
                                        <span class="tag">celery</span>
                                        <span class="tag">redis</span>
                                        <span class="tag">elasticsearch</span>
                                        <span class="tag">gitlab-ci</span>
                                    </div>
                                </footer>
                            </article>
                        </div>

                        <div class="col-12">
                            <article>
                                <header class="my-2">
                                    <h5>
                                        Research Intern at <a href="http://cse.du.ac.bd/robolab" target="_blank" rel="noopener noreferrer">Robolab, Dept. of CSE, Univ. of Dhaka</a>
                                    </h5>
                                    <div class="my-1">
                                        <address>Dhaka, Bangladesh</address><time>July 2016 to July 2018</time>
                                    </div>
                                </header>
                                <p class="my-2">
                                    Front- and back-end engineering and Machine Learning R&amp;D for <a href="https://github.com/RoboPi-CSEDU">Rupai</a>, a graphically programmable robotics kit, funded by Ministry of Education, Govt. of Bangladesh.
                                    <details>
                                        <summary class="mb-3">Learn More</summary>
                                        <ul>
                                          <li>
                                            Led a team of six in building a visual programming interface for robotics kits. Designed the system, was responsible for budget & resource management, documentation and reporting
                                          </li>
                                          <li>
                                            Worked on both front- and back-end, developed the programming editor, code transfer module and code transpilation into the kit-specific language
                                          </li>
                                        </ul>
                                    </details>
                                </p>
                                <footer class="my-3">
                                    <div>
                                        <span class="tag">python</span>
                                        <span class="tag">opencv</span>
                                        <span class="tag">tensorflow</span>
                                        <span class="tag">keras</span>
                                        <span class="tag">blockly</span>
                                        <span class="tag">php</span>
                                    </div>
                                </footer>
                            </article>
                        </div>
                    </div>
                </section>

                <section class="resume-section my-4">
                    <h4>Education</h4>
                    <div class="row my-3" id="education">
                        <div class="col-12">
                            <article>
                                <header class="my-2">
                                    <h5>
                                        BSc in Computer Science
                                    </h5>
                                    <div class="my-1">
                                        <span><a href="http://www.cse.du.ac.bd/" target="_blank"
                                                rel="noopener noreferrer">University of Dhaka</a></span> &nbsp;
                                        <address>Dhaka, Bangladesh</address><time>Batch of 2018</time>
                                    </div>
                                </header>
                                <p class="my-2">
                                    <strong class="text-secondary">CGPA</strong>&nbsp;
                                    <span>3.81 / 4.0</span>
                                    <br>
                                    <strong class="text-secondary">Thesis</strong>&nbsp;
                                    <span>M. H. Masum, T. S. Rifat, S. M.
                                        Tareeq, H. Heickal, <a href="https://dl.acm.org/citation.cfm?id=3290535">A
                                            Framework for Developing Graphically
                                            Programmable Low-cost Robotics Kit for Classroom Education.</a>
                                    </span>
                                    <br>
                                    <ul>
                                        <li>Represented University of Dhaka in <a href="https://icpc.baylor.edu/regionals/finder/dhaka-2015">2015
                                            ACM-ICPC Asia Dhaka</a> On Site Regional Contest (Team: DU_Introspection).
                                        </li>
                                        <li>University scholarship for academic excellence in 2014</li>
                                        <li>National Education Board scholarship for 2013 Higher Secondary School Certificate result.</li>
                                    </ul>

                                </p>
                            </article>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="my-5 text-center copyright">
            ©
            <%= year %> · Meha Masum · All rights reserved </div>
    </div>
</body>

</html>
